fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[argon2]
httpx
python-dotenv
psycopg2-binary
fastapi-mail==1.4.1
langgraph
langchain-groq
langchain
langchain-community
langchain-openai

